{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
        'node_modules',
        'src',
        ]
      }
    }
  }
}
